boss BITMAP boss.bmp
fon BITMAP fon.bmp
orug1 BITMAP orug1.bmp
orug2 BITMAP orug2.bmp
pl BITMAP pl.bmp
pr BITMAP pr.bmp
str BITMAP str.bmp
zdd1 BITMAP zdd1.bmp
zdd2 BITMAP zdd2.bmp
zdd3 BITMAP zdd3.bmp
zdd4 BITMAP zdd4.bmp
zomb1 BITMAP zomb1.bmp
zomb2 BITMAP zomb2.bmp
zomb3 BITMAP zomb3.bmp
zs1 BITMAP zs1.bmp
zs2 BITMAP zs2.bmp
1b BITMAP 1b.bmp
2b BITMAP 2b.bmp
3b BITMAP 3b.bmp
4b BITMAP 4b.bmp
5b BITMAP 5b.bmp
6b BITMAP 6b.bmp
7b BITMAP 7b.bmp
l1l BITMAP 1l.bmp
l2l BITMAP 2l.bmp
l3l BITMAP 3l.bmp
l4l BITMAP 4l.bmp
l5l BITMAP 5l.bmp
l6l BITMAP 6l.bmp
l7l BITMAP 7l.bmp
l8l BITMAP 8l.bmp
l9l BITMAP 9l.bmp
l10l BITMAP 10l.bmp
fonzv WAVE fonzv.wav
ocher WAVE ocher.wav
zvon WAVE zvon.wav
shoot WAVE shoot.wav
zomb WAVE zomb.wav